* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: linear-gradient(#053865, #083235);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 14px;
}

.container {
  background-color: rgb(255, 255, 255);
  max-width: 350px;
  min-width: 200px;
  height: 100vh;
  color: #333;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 5px 5px #333;
}

h2 {
  margin: 2rem auto 1rem;
}

.colors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

input[type='color'] {
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 100%;
  height: 50px;
}

input[type='radio'] {
  display: none;
}

label {
  margin: 0.5rem;
  background-color: #545454;
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
}

input[type='radio']:checked + label {
  background-color: rgb(162, 162, 162);
  color: #333;
}

.directions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.direction {
  display: inline-block;
}
