@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 14px;
}

.container {
  display: flex;
}

.hero-image {
  width: 50vw;
  background: url('https://source.unsplash.com/UxRhrU8fPHQ') no-repeat fixed
    bottom center/cover;
}

.content {
  width: 50vw;
}

#order {
  width: 20vw;
}

body {
  font-family: 'Open Sans', sans-serif;
}

form {
}
